@import 'tailwindcss';

@theme {
  --font-sans: var(--font-urbanist), sans-serif;
  --font-title: var(--font-righteous), serif;

  --color-text-50: oklab(95.70% 0.010 -0.01);
  --color-text-100: oklab(91.58% 0.020 -0.01);
  --color-text-200: oklab(82.95% 0.043 -0.02);
  --color-text-300: oklab(74.41% 0.066 -0.03);
  --color-text-400: oklab(65.76% 0.093 -0.04);
  --color-text-500: oklab(57.31% 0.117 -0.05);
  --color-text-600: oklab(48.89% 0.099 -0.04);
  --color-text-700: oklab(40.13% 0.077 -0.03);
  --color-text-800: oklab(30.77% 0.056 -0.02);
  --color-text-900: oklab(20.76% 0.029 -0.01);
  --color-text-950: oklab(15.40% 0.017 -0.01);

  --color-background-50: oklab(95.82% 0.008 -0.00);
  --color-background-100: oklab(91.80% 0.015 -0.01);
  --color-background-200: oklab(83.47% 0.031 -0.02);
  --color-background-300: oklab(75.00% 0.047 -0.02);
  --color-background-400: oklab(66.39% 0.065 -0.03);
  --color-background-500: oklab(57.67% 0.086 -0.04);
  --color-background-600: oklab(49.25% 0.070 -0.03);
  --color-background-700: oklab(40.44% 0.055 -0.03);
  --color-background-800: oklab(31.08% 0.039 -0.02);
  --color-background-900: oklab(20.95% 0.022 -0.01);
  --color-background-950: oklab(15.48% 0.012 -0.00);

  --color-primary-50: oklab(95.59% 0.013 -0.01);
  --color-primary-100: oklab(91.36% 0.025 -0.01);
  --color-primary-200: oklab(82.57% 0.054 -0.02);
  --color-primary-300: oklab(73.91% 0.082 -0.03);
  --color-primary-400: oklab(65.37% 0.115 -0.04);
  --color-primary-500: oklab(57.23% 0.144 -0.05);
  --color-primary-600: oklab(48.81% 0.121 -0.04);
  --color-primary-700: oklab(39.97% 0.094 -0.03);
  --color-primary-800: oklab(30.66% 0.068 -0.02);
  --color-primary-900: oklab(20.63% 0.036 -0.01);
  --color-primary-950: oklab(15.28% 0.021 -0.01);

  --color-secondary-50: oklab(95.45% 0.019 -0.01);
  --color-secondary-100: oklab(90.98% 0.039 -0.02);
  --color-secondary-200: oklab(82.14% 0.081 -0.04);
  --color-secondary-300: oklab(73.70% 0.121 -0.06);
  --color-secondary-400: oklab(65.85% 0.163 -0.07);
  --color-secondary-500: oklab(59.16% 0.198 -0.08);
  --color-secondary-600: oklab(50.32% 0.165 -0.07);
  --color-secondary-700: oklab(41.08% 0.131 -0.06);
  --color-secondary-800: oklab(31.36% 0.096 -0.04);
  --color-secondary-900: oklab(20.83% 0.055 -0.02);
  --color-secondary-950: oklab(15.16% 0.031 -0.01);

  --color-accent-50: oklab(95.26% 0.024 -0.01);
  --color-accent-100: oklab(90.53% 0.049 -0.02);
  --color-accent-200: oklab(81.40% 0.100 -0.04);
  --color-accent-300: oklab(73.02% 0.153 -0.05);
  --color-accent-400: oklab(65.87% 0.201 -0.06);
  --color-accent-500: oklab(60.71% 0.233 -0.06);
  --color-accent-600: oklab(51.43% 0.195 -0.05);
  --color-accent-700: oklab(41.86% 0.156 -0.04);
  --color-accent-800: oklab(31.74% 0.114 -0.03);
  --color-accent-900: oklab(20.85% 0.067 -0.02);
  --color-accent-950: oklab(14.58% 0.043 -0.02);

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root { 
    font-family: 'Lexend', sans-serif;
}
html, body {
    background-color: oklab(15.48% 0.012 -0.00);
}